#!/usr/bin/env xdg-open
 
[Desktop Entry]
Name=vlearn
Comment=Online Course registration - Check your grades and attendence
Exec=vlearn
Icon=/usr/share/pixmaps/vlearn.png
Terminal=false
Type=Application
Categories=Education;

